<p>personne works!</p>
<div class="background-wrap">
  <div class="background"></div>
</div>

<form id="accesspanel" action="login" method="post">
  <h1 id="litheader">Personne</h1>
  <div class="inset">
    <p>
      <input type="text" name="Nom" id="Nom" placeholder="Nom">
    </p>
    <p>
      <input type="text" name="prenom" id="prenom" placeholder="prenom">
    </p>
    <p>
      <input type="text" name="age" id="age" placeholder="age">
    </p>
    <p>
      <input type="text" name="ville" id="ville" placeholder="ville">
    </p>
    <p>
      <input type="text" name="codePostale" id="code" placeholder="codePostale">
    </p>
    <p>
      <input type="text" name="numero" id="numero" placeholder="numero">
    </p>
    <p>
      <input type="text" name="email" id="email" placeholder="email">
    </p>
    <p>
      <input type="text" name="dateJaout" id="dateAjout" placeholder="DateAjouts">
    </p>


  </div>
  <p class="p-container">
    <input type="submit" name="Login" id="go" value="Connexion">
  </p>
</form>

