<h1>Création de Produit</h1>
<hr/>


<!--PROGRESS BAR !-->
<div id="top1" class="top-one" style="height: 20px; top: auto; bottom: 0px; transition-duration: 3s;">
  <div class="colors"></div>
</div>


<div class="form">
  <form class="scrollbar-primary">

    <div class="form-input">
      <label for="vendeur">vendeur</label>
      <input type="text" name="vendeur" id="vendeur" value="" placeholder="Vendeur" required/>


    </div>

    <div class="form-input">
      <label for="Client">Client</label>
      <input type="text" name="Client" id="Client" value="" placeholder="Client" required/>


    </div>

    <div class="form-input">
      <label for="Quantite">Quantite</label>
      <input type="text" name="Quantite" id="Quantite" value="" placeholder="Quantite" required/>
    </div>

    <div class="form-input">
      <label for="PrixTTC">PrixTTC</label>
      <input type="text" name="PrixTTC" id="PrixTTC" value="" placeholder="PrixTTC" required/>
    </div>


    <div class="form-input">
      <label for="idVente">IdVente</label>
      <input type="text" name="idVente" id="idVente" value="" placeholder="IdVente" required/>
    </div>
    <button type="button" name="creer" id="modifier">
      Modifier
    </button>
    <button type="button" name="creer" id="creer">
      Créer
    </button>
  </form>
</div>
