*{
  box-sizing: border-box;

}
body{
  font-family: 'Rajdhani', sans-serif;
  width: 80%;
  margin : 2% auto;
  color: #2E2E2E;
  background-color: #161a1a;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Sanchez', serif;
  text-align: center;
  color: #7b9c3a;
}
h1{
  font-size: 2em;
  margin: 20px 0;
}
hr{
  border: 4px solid #9c973a;
  box-shadow: 2px 2px 2px 0 #090c0c;
  margin-bottom: 50px;
}
i.fa{
  font-size: 1.6em;
  color: #9c973a;
}
form{
  line-height: 2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
form div.form-input{
  margin: 20px auto;
}
form div > label{
  display: block;
  color: #161a1a;
}
form div > label[for="capcha"]{
  display: inline-block;
}
label[for="oui"], label[for="non"],
label[for="cgv"], label[for="cgu"], label[for="payable"], label[for="retraitMag"],label[for="cap"], label[for="distrib1"], label[for="distrib2"], label[for="distrib3"], label[for="distrib4"], label[for="distrib5"], label[for="distrib6"], label[for="distrib7"], label[for="distrib8"], label[for="distrib9"], label[for="h24"],
label[for="h48h"], label[for="j5"],
label[for="s1"], label[for="autre"],
label[for="poids5"]{
  display: inline-block;
  margin: 0 20px;
  color: #2E2E2E;
}
label[for="hors"],label[for="stock"], label[for="simple"]{
  display: inline-block;
  margin: 0 20px;
  color: #2E2E2E;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="url"],
input[type="tel"]{
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #49C3B4;
  padding-left: 10px;
  box-shadow: 2px 2px 2px 0 #C9C9C9;
}
textarea{
  width: 100%;
  height: 100px;
  border: none;
  border-bottom: 2px solid #49C3B4;
  padding-left: 10px;
  box-shadow: 2px 2px 2px 0 #C9C9C9;
}
input[type="checkbox"]:checked{
  background-color: #3a9c90;
  color: #3a9c90;
}
select{
  width: 100%;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #e5f321;
  color: #2E2E2E;
}
select#distribution{
  width: 100%;
  height: ;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #3a9c90;
  color: #2E2E2E;
}

button{
  width: 35%;
  height: 65px;
  border: none;
  background-color: #3a9c90;
  font-size: 1em;
  color: white;
  font-family: 'Sanchez', serif;
  text-transform: uppercase;
  float: right;
  box-shadow: 2px 2px 2px 0 #C9C9C9;
  transition: all 0.3s ease-in-out;
  margin: 5% 0;
}
button:hover{
  background-color: white;
  border: 1px solid #3a9c90;
  border-bottom: 6px solid #3a9c90;
  color: #3a9c90;
}
