<h1>vente</h1>
<hr/>

  <div class="container">
    <div><app-personne>
    </app-personne></div>
    <div><app-produit></app-produit></div>
    <div><app-client></app-client></div>
    <div> <app-categorie></app-categorie></div>
    <div><app-vente></app-vente></div>

    </div>


<div class="form">
  <form class="scrollbar-primary">

    <div class="form-input">
      <select [ngModel]="this.idUser" (ngModelChange)="onChange($event)" name="sel2">
        <option [value]="perosnne.idPersonne" *ngFor="let perosnne of listpersonne">{{perosnne.nom}}</option>
      </select>
    </div>
{{this.idUser}}
    <div class="form-input">

      <div class="form-input">
        <select [ngModel]="this.idClient" (ngModelChange)="onChangeClient($event)" name="sel3">
          <option *ngFor="let personne of listpersonne" [value]="personne.idPersonne+';'+personne.image">{{personne.nom}}</option>
        </select>
      </div>
      <img [src]="'http://localhost:8000/'+this.adresseImage"/>

      {{this.idClient}}
    </div>

    <div class="form-input">
      <label for="Quantite">Quantite</label>
      <input type="text" name="Quantite" id="Quantite" value="" placeholder="Quantite" [(ngModel)]="this.quantite" required/>
    </div>

    <div class="form-input">
      <label for="PrixTTC">PrixTTC</label>
      <input type="text" name="PrixTTC" id="PrixTTC" value="" placeholder="PrixTTC" [(ngModel)]="this.prixTotal" required/>
    </div>
    <div class="form-input">
      <label for="taxe">taxe</label>
      <input type="text" name="taxe" id="taxe" value="" placeholder="taxe" [(ngModel)]="this.taxe" required/>
    </div>
    <div class="form-input">
      <div class="form-input">
        <select [ngModel]="this.idProduit" (ngModelChange)="onChangeProduit($event)" name="sel2">
          <option  *ngFor="let produit of listproduit" [value]="produit.idProduit" >{{produit.nom}}</option>
        </select>
      </div>
      {{this.idProduit}}
    </div>


    <div class="form-input">
      <label for="idVente">IdVente</label>
      <input type="text" name="idVente" id="idVente" value="" placeholder="IdVente"[(ngModel)]="this.idVente" required/>
    </div>
    <button type="button" (click)="modifierVente()" name="creer" id="modifier">
      Modifier
    </button>
    <button type="button" (click)="ajouterVente()" name="creer" id="creer">
      Créer
    </button>
  </form>
</div>
