<h1>Création de Produit</h1>
<hr/>


<!--PROGRESS BAR !-->
<div id="top1" class="top-one" style="height: 20px; top: auto; bottom: 0px; transition-duration: 3s;">
  <div class="colors"></div>
</div>


<div class="form">
  <form class="scrollbar-primary">

    <div class="form-input">
      <label for="nom">Nom du Categorie</label>
      <input type="text" name="nom" id="nom" value="" placeholder="Nom du Categorie" [(ngModel)]="this.nom" required/>


    </div>

    <div class="form-input">
      <label for="type">Type</label>
      <input type="text" name="type" id="type" value="" placeholder="Type" [(ngModel)]="this.type" required/>
    </div>

    <div class="form-input">
      <label for="idCategorie">idCategorie</label>
      <input type="text" name="idCategorie" id="idCategorie" value="" placeholder="IdCategorie" [(ngModel)]="this.idCategorie" required/>
    </div>
    <button type="button" (click)="modifierCategorie()" name="creer" id="modifier">
      Modifier
    </button>
    <button type="button" (click)="ajouterCategorie()" name="creer" id="creer">
      Créer
    </button>
  </form>
</div>
