<h1>Création de Produit</h1>
<hr/>


<!--PROGRESS BAR !-->
<div id="top1" class="top-one" style="height: 20px; top: auto; bottom: 0px; transition-duration: 3s;">
  <div class="colors"></div>
</div>


<div class="form">
  <form class="scrollbar-primary">

    <div class="form-input">
      <label for="nom">Nom du Produit</label>
      <input type="text" name="nom" id="nom"   [(ngModel)]="this.produitbyId[0].nom" placeholder="Nom du produit" required/>


    </div>
    <div class="form-input">
      <label for="nom">Id Categorie</label>
      <input type="text" name="idCategorie" id="idCtaegorie" [(ngModel)]="this.produitbyId[0].idCategorie"placeholder="Nom du produit" required/>
    </div>

    <div class="form-input">
      <label for="prixproduit">Prix</label>
      <input type="text" name="prix"   id="prixproduit" [(ngModel)]="this.produitbyId[0].Prix" placeholder="Prix" required/>


    </div>

    <div class="form-input">
      <label for="idProduit">idproduit</label>
      <input type="text" name="idProduit"   id="idProduit" [(ngModel)]="this.produitbyId[0].idProduit" placeholder="Idproduit" required/>
    </div>


    <button type="button" name="creer" id="modifier">
      Modifier
    </button>
    <button type="button" name="creer" id="creer">
      Créer
    </button>
  </form>
</div>
