<h1>Création de Produit</h1>
<hr/>
<div class="container information"><p>{{this.messageService.getMessage()}}</p></div>
<app-personne></app-personne>
<!--PROGRESS BAR !-->
<div id="top1" class="top-one" style="height: 20px; top: auto; bottom: 0px; transition-duration: 3s;">
  <div class="colors"></div>
</div>


<div class="form">
  <form class="scrollbar-primary">

    <div class="form-input">
      <label for="nom">id Personne</label>
      <input type="text" name="nom" id="nom" value="" placeholder="id Personne" [(ngModel)]="this.idPersonne" required/>

    </div>

    <div class="form-input">
      <label for="Societe">Societe</label>
      <input type="text" name="Societe" id="Societe" value="" placeholder="Societe" [(ngModel)]="this.societe" required/>


    </div>

    <div class="form-input">
      <label for="Poste">Poste</label>
      <input type="text" name="Poste" id="Poste" value="" placeholder="Poste" [(ngModel)]="this.poste" required/>
    </div>


    <div class="form-input">
      <label for="idClient">idClient</label>
      <input type="text" name="idClient" id="idClient" value="" placeholder="IdClient" [(ngModel)]="this.idClient" required/>
    </div>
    <button type="button" (click)="modifierClient()" name="creer" id="modifier">
      Modifier
    </button>
    <button type="button" (click)="ajouterClient()" name="creer" id="creer">
      Créer
    </button>
  </form>
</div>

