<p>ajoutpersonne works!</p>
<h1>Création de Produit</h1>
<hr/>


<!--PROGRESS BAR !-->
<div id="top1" class="top-one" style="height: 20px; top: auto; bottom: 0px; transition-duration: 3s;">
  <div class="colors"></div>
</div>


<div class="form">
  <form class="scrollbar-primary">

    <div class="form-input">
      <label for="nom">Nom de la Personne</label>
      <input type="text" name="nom" id="nom" value="" placeholder="Nom du client" required/>

    </div>

    <div class="form-input">
      <label for="Prenom">Prenom de la Perosnne</label>
      <input type="text" name="Prenom" id="Prenom" value="" placeholder="Prenom" required/>


    </div>

    <div class="form-input">
      <label for="Age">Age de la Personne</label>
      <input type="text" name="Age" id="Age" value="" placeholder="Age" required/>
    </div>

    <div class="form-input">
      <label for="Numero">Numero</label>
      <input type="text" name="Numero" id="Numero" value="" placeholder="Numero" required/>
    </div>

    <div class="form-input">
      <label for="idPersonne">idPersonne</label>
      <input type="text" name="idPersonne" id="idPersonne" value="" placeholder="IdClient" required/>
    </div>
    <div class="form-input">
      <label for="adresse">adresse</label>
      <input type="text" name="adresse" id="adresse" value="" placeholder="IdClient" required/>
    </div>
    <div class="form-input">
      <label for="Code">Code Postale</label>
      <input type="text" name="Code" id="Code" value="" placeholder="Code" required/>
    </div>
    <div class="form-input">
      <label for="Email">Email</label>
      <input type="text" name="Email" id="Email" value="" placeholder="Code" required/>
    </div>
    <div class="form-input">
      <label for="Dateajout">Date ajout</label>
      <input type="text" name="Dateajout" id="Dateajout" value="" placeholder="Dateajout" required/>
    </div>

    <button type="button" name="creer" id="modifier">
      Modifier
    </button>
    <button type="button" name="creer" id="creer">
      Créer
    </button>
  </form>
</div>

