<p>ajoutpersonne works!</p>
<h1>Création de Produit</h1>
<hr/>
<app-personne></app-personne>

<!--PROGRESS BAR !-->
<div id="top1" class="top-one" style="height: 20px; top: auto; bottom: 0px; transition-duration: 3s;">
  <div class="colors"></div>
</div>


<div class="form">
  <form class="scrollbar-primary">
    <div class="col-sm-4">
      <img width="250px" height="250px" [src]="PhotoFileName"/>
      <input class="m-2" type="file" (change)="imageUpload($event)">
    </div>
    <div class="form-input">
      <label for="nom">Nom de la Personne</label>
      <input type="text" name="nom" id="nom" value="" [(ngModel)]="this.nom" placeholder="Nom de la personne" required/>

    </div>

    <div class="form-input">
      <label for="Prenom">Prenom de la Perosnne</label>
      <input type="text" name="Prenom" id="Prenom" value="" [(ngModel)]="this.prenom" placeholder="Prenom" required/>


    </div>

    <div class="form-input">
      <label for="Age">Age de la Personne</label>
      <input type="text" name="Age" id="Age" value="" [(ngModel)]="this.age" placeholder="Age" required/>
    </div>

    <div class="form-input">
      <label for="Numero">Numero</label>
      <input type="text" name="Numero" id="Numero" value="" [(ngModel)]="this.numero" placeholder="Numero" required/>
    </div>

    <div class="form-input">
      <label for="idPersonne">idPersonne</label>
      <input type="text" name="idPersonne" id="idPersonne" value="" [(ngModel)]="this.idPersonne" placeholder="IdPersonne" required/>
    </div>
    <div class="form-input">
      <label for="adresse">adresse</label>
      <input type="text" name="adresse" id="adresse" value="" [(ngModel)]="this.adresse" placeholder="adresse" required/>
    </div>
    <div class="form-input">
      <label for="ville">adresse</label>
      <input type="text" name="ville" id="ville" value="" [(ngModel)]="this.ville" placeholder="adresse ville" required/>
    </div>
    <div class="form-input">
      <label for="Code">Code Postale</label>
      <input type="text" name="Code" id="Code" value="" [(ngModel)]="this.codePostale" placeholder="Code postale" required/>
    </div>
    <div class="form-input">
      <label for="Email">Email</label>
      <input type="text" name="Email" id="Email" value="" [(ngModel)]="this.email" placeholder="Email" required/>
    </div>
    <div class="form-input">
      <label for="Dateajout">Date ajout</label>
      <input type="text" name="Dateajout" id="Dateajout" value="" [(ngModel)]="this.dateAjout" placeholder="Dateajout" required/>
    </div>

    <button type="button" cdkAriaLive="" (click)="modifierPersonne()" name="creer" id="modifier">
      Modifier
    </button>
    <button type="button" (click)="ajouterPersonne()" name="creer" id="creer">
      Créer
    </button>
  </form>
</div>

